* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Trebuchet, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: black;
}

main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.-greenBorder {
  border: 2px solid #00ff00;
}

.-redBorder {
  border: 2px solid #ff0000;
}

img {
  max-height: 100%;
  height: 100%;
}

.full-height {
  height: 100vh;
  position: relative;
}
