* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Trebuchet, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: start;
}

.-greenBorder {
  border: 2px solid #00ff00;
}

.-redBorder {
  border: 2px solid #ff0000;
}

#current-image {
  margin: 0.5rem;
}
